garbage/testworkflow.json
{
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "generate-story",
          "options": {}
        },
        "name": "Trigger Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          200,
          300
        ]
      },
      {
        "parameters": {
          "functionCode": "return {\n  prompt: \"Écris une courte histoire de 200 mots sur une aventure magique.\",\n  model: \"gpt-3.5-turbo\",\n  max_tokens: 200\n};"
        },
        "name": "Préparer la requête GPT-3",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          400,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/completions",
          "method": "POST",
          "jsonParameters": true,
          "options": {},
          "bodyParametersJson": "={{$node[\"Préparer la requête GPT-3\"].json}}",
          "headers": {
            "Content-Type": "application/json",
            "Authorization": "Bearer YOUR_OPENAI_API_KEY"
          }
        },
        "name": "Appel API GPT-3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          600,
          300
        ]
      },
      {
        "parameters": {
          "functionCode": "return {\n  text: $json.choices[0].text.trim(),\n  voice: \"fr-FR-Wavenet-D\",\n  audioConfig: { \"audioEncoding\": \"MP3\" }\n};"
        },
        "name": "Préparer la requête Google TTS",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          800,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://texttospeech.googleapis.com/v1/text:synthesize?key=YOUR_GOOGLE_API_KEY",
          "method": "POST",
          "jsonParameters": true,
          "options": {},
          "bodyParametersJson": "={{$node[\"Préparer la requête Google TTS\"].json}}"
        },
        "name": "Appel API Google TTS",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          1000,
          300
        ]
      },
      {
        "parameters": {
          "command": "ffmpeg -loop 1 -i background.jpg -i audio.mp3 -c:v libx264 -c:a aac -strict experimental -b:a 192k -shortest output.mp4"
        },
        "name": "Créer la vidéo avec FFmpeg",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          1200,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://open-api.tiktok.com/share/video/upload",
          "method": "POST",
          "jsonParameters": true,
          "options": {},
          "bodyParametersJson": "{ \"video\": \"output.mp4\", \"access_token\": \"YOUR_TIKTOK_ACCESS_TOKEN\" }"
        },
        "name": "Publier sur TikTok",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [
          1400,
          300
        ]
      }
    ],
    "connections": {
      "Trigger Webhook": {
        "main": [
          [
            {
              "node": "Préparer la requête GPT-3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Préparer la requête GPT-3": {
        "main": [
          [
            {
              "node": "Appel API GPT-3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Appel API GPT-3": {
        "main": [
          [
            {
              "node": "Préparer la requête Google TTS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Préparer la requête Google TTS": {
        "main": [
          [
            {
              "node": "Appel API Google TTS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Appel API Google TTS": {
        "main": [
          [
            {
              "node": "Créer la vidéo avec FFmpeg",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Créer la vidéo avec FFmpeg": {
        "main": [
          [
            {
              "node": "Publier sur TikTok",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
  